In [13]:
import pandas as pd

In [14]:
def get_part_indexes(cum_pers, left_threshold_per, right_threshold_per):
    cum_pers = cum_pers.round(decimals=1)
    cum_pers_right = cum_pers[cum_pers <= right_threshold_per]
    cum_pers_result = cum_pers_right[cum_pers_right > left_threshold_per]
    part_indexes = cum_pers_result.index.values
    return part_indexes

In [15]:
def to_analyze(data, per_a, per_b, per_c):
    total_value = data.sum()
    percents = data / total_value * 100.0
    cum_percents = percents.cumsum()
    percents = pd.concat([data, pd.concat([percents, cum_percents], axis=1)], axis=1)

    a_indexes = get_part_indexes(cum_percents, 0.0, per_a)
    a = data.loc[a_indexes]

    b_indexes = get_part_indexes(cum_percents, per_a, per_b)
    b = data.loc[b_indexes]

    c_indexes = get_part_indexes(cum_percents, per_b, per_c)
    c = data.loc[c_indexes]
    return total_value, percents, a, b, c

In [16]:
df = pd.read_csv("supermarket_sales - Sheet1.csv")

In [17]:
print(df.columns)
print(df.head())

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')
    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

In [18]:
df_column = df['Total']

In [19]:
print(df_column)

0       548.9715
1        80.2200
2       340.5255
3       489.0480
4       634.3785
         ...
995      42.3675
996    1022.4900
997      33.4320
998      69.1110
999     649.2990
Name: Total, Length: 1000, dtype: float64

In [25]:
df['Total']=labels
df.head(5)

NameError: name 'labels' is not defined

In [29]:
total_value, percents, a, b, c = to_analyze(df_column, 80, 95, 100)
df.groupby('Total').mean()

,Unit price,Quantity,Tax 5%,cogs,gross margin percentage,gross income,Rating
Total,,,,,,,
10.6785,10.17,1.0,0.5085,10.17,4.761905,0.5085,5.9
12.6945,12.09,1.0,0.6045,12.09,4.761905,0.6045,8.2
13.1670,12.54,1.0,0.6270,12.54,4.761905,0.6270,8.2
13.4190,12.78,1.0,0.6390,12.78,4.761905,0.6390,9.5
14.6790,13.98,1.0,0.6990,13.98,4.761905,0.6990,9.8
...,...,...,...,...,...,...,...
1022.4900,97.38,10.0,48.6900,973.80,4.761905,48.6900,4.4
1023.7500,97.50,10.0,48.7500,975.00,4.761905,48.7500,8.0
1034.4600,98.52,10.0,49.2600,985.20,4.761905,49.2600,4.5
1039.2900,98.98,10.0,49.4900,989.80,4.761905,49.4900,8.7
1042.6500,99.30,10.0,49.6500,993.00,4.761905,49.6500,6.6

In [23]:
print(df['Invoice ID'][a.index.values])
print(df['Invoice ID'][b.index.values])
print(df['Invoice ID'][c.index.values])

0      750-67-8428
1      226-31-3081
2      631-41-3108
3      123-19-1176
4      373-73-7910
          ...
787    790-38-4466
788    704-10-4056
789    497-37-6538
790    651-96-5970
791    400-80-4065
Name: Invoice ID, Length: 792, dtype: object
792    744-16-7898
793    263-12-5321
794    702-72-0487
795    605-83-1050
796    443-60-9639
          ...
945    489-82-1237
946    859-97-6048
947    676-10-2200
948    373-88-1424
949    365-16-4334
Name: Invoice ID, Length: 158, dtype: object
950    503-21-4385
951    305-89-2768
952    574-80-1489
953    784-08-0310
954    200-40-6154
955    846-10-0341
956    577-34-7579
957    430-02-3888
958    867-47-1948
959    384-59-6655
960    256-58-3609
961    324-92-3863
962    593-08-5916
963    364-34-2972
964    794-42-3736
965    172-42-8274
966    558-60-5016
967    195-06-0432
968    605-03-2706
969    214-30-2776
970    746-04-1077
971    448-34-8700
972    452-04-8808
973    531-56-4728
974    744-82-9138
975    883-69-1285
976    221-25-5073
977    518-71-6847
978    156-20-0370
979    151-33-7434
980    728-47-9078
981    809-46-1866
982    139-32-4183
983    148-41-7930
984    189-40-5216
985    374-38-5555
986    764-44-8999
987    552-44-5977
988    267-62-7380
989    430-53-4718
990    886-18-2897
991    602-16-6955
992    745-74-0715
993    690-01-6631
994    652-49-6720
995    233-67-5758
996    303-96-2227
997    727-02-1313
998    347-56-2442
999    849-09-3807
Name: Invoice ID, dtype: object

In [11]:
df.groupby('df_column').mean()

KeyError: 'df_column'